*{margin:0;
padding: 0;}

header{background-color: black;}

main{background-color: black;}

.titulos{ color: whitesmoke ;
background-color: rgb(187, 8, 8);
display: flex;
justify-content: space-around;}

img{width: 150px;}

.baner-inicio {width: max-content;}

.pregunta { 
    color: rgb(16, 31, 163);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;}

.formulario{ display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    border: solid black 100px;
    justify-items: center;
    align-items: center;}

.mano {grid-area:mano
    color black;
    border: solid 2px blue ;}

.fecha { grid grid-area: fecha; 
    background-color: black;
border: solid 2px blue ;}

.enviar { grid-area: enviar; 
    background-color: black;
    border: solid 2px blue ;}

div{border: solid 2px;
    padding: 10px;
    
    font-size: medium;
    font-family: fantasy;}

#carouselExample{display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;}

.carousel-inner{
display: flex;
justify-content: space-around
}

.img-carousel{
    width: 250px;
   }

.Historia{ display: grid;
    grid-template-areas: "titulo titulo titulo titulo"
    "foto foto foto foto"
    "foto2 foto2 foto3 foto3"
    "texto-historia texto-historia texto-historia texto-historia";
grid-template-rows: 75px 550px 550px 150px;
grid-template-columns: 1fr 1fr 1fr 1fr;}

.titulo {grid-area: titulo;
color: red ;
border-color:blue;
}

.foto { grid-area: foto;
    border-color: green;
    display: flex;
    justify-content: center;}

.Alejandro-dueño{width: 450px;}


.foto2 {    grid-area: foto2;
    border-color: green;
    display: flex;
    justify-content: center}

.Alejandro-hijo{width: 450px;}

.foto3{ grid-area: foto3;
    border-color: green;
    display: flex;
    justify-content: center}

.Alejandro-hijo2{width: 450px;}

.texto-historia {grid-area: texto-historia;
color: blue;
border-color: red;}

span{ color: red;}

.main-bebidas{display: flex;
    justify-content: center;}

.card-body{padding: 0px;}

.card-text {background-color: black;
color: blue;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

form{ background-color: black; 
    padding: 90px;
;}

.footer-principal{
    background-color: black ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end}

.footer {width: 45px;}

.img-footer{ background-color: black;}


@media(max-width:500px) {
    .container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "titulo"
          "foto" 
          "foto2"
          "texto-historia";
          margin: auto;
      }}

@media(max-width:500px){.pregunta { color:rgb(212, 15, 15);
    background-color: crimson
   ;}}
